@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column gap-3 align-items-center">
    <h1 class="display-4">Bienvenido a lista de tareas online</h1>
    <p>El objetivo de esta app web es demostrar mis conocimientos en CRUD en desarrollo .NET. Espero que lo disfruten.</p>
</div>
